
#main-content {
    text-align: left;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (min-width: 1650px){
    #main-content{
       /* margin-left: 360px;
        margin-top:120px;*/
    }
}
@media (max-width: 768px){
    #main-content{
    }
}